.d-flex {

  .articles {


    &__list {
      width: 100%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .sidebar {
        display: none;
      }

      .load-more {
        height: 26px;
        color: #394791;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        border-bottom: 1px dashed #394791;
        margin: 0 auto;
        white-space: nowrap;
        min-width: 100px;
        text-align: center;
        margin-bottom: 2rem;
        text-decoration: none !important;
      }

    }


    &__items {
      display: flex;
      flex-wrap: wrap;

    }

    &__item {
      width: calc(((100%/12) * 4));
      margin: 0;
      padding: 0 14px 23px;

    }


  }



  .pagination {
    margin-top: 63px;
  }

  @media screen and (max-width: 768px) {
    .filter {
      &__form {


        .tags__item {}

        .filter__checkbox {
          label {
            align-items: center;
          }
        }
      }

      &__item {
        overflow: hidden;
      }

      &__close {}

      &__article {
        position: relative;

        .filter__title {
          background: unset;
        }

        .filter__item {
          position: unset;
        }

        .close__filter:last-child {
          top: 12px;
          bottom: unset;
        }
      }
    }

    .articles__items {
      width: 100%;

    }

    .articles__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .sidebar {
        display: flex;
        flex-wrap: wrap;

      }

      .work-link,
      .yandex,
      .quality {
        width: 33%;
        height: 100%;
      }

      .yandex {
        width: 31%;
        margin: 0 1%;
        padding: 2.5% 4.5% 3%;
      }

      .work-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;

        &__item {
          width: 100%;
          align-items: center;
        }
      }
    }

    .articles__title {
      color: #262626;

      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
    }

  }

  @media screen and (max-width: 600px) {
    .articles__item {
      width: 50%;
    }
  }

  @media screen and (max-width: 480px) {

    .filter {
      .tags__item {
        width: 100%;
      }

      &__article {
        .catalog__simile {
          display: inline;
        }

        .close__filter:last-child {
          top: 12px;
          bottom: unset;
          left: unset;
          transform: unset;
          width: 20px;
          overflow: hidden;
          padding-right: 7px;
          font-family: 'Helvetica', 'Arial', sans-serif;
          font-size: 1em;
          font-weight: bold;

          &:before {
            content: 'x'; // here is your X(cross) sign.
            color: black;
            font-weight: 300;
            font-family: Arial, sans-serif;
            padding: 0 5px;
          }
        }
      }
    }

    .articles__item {
      width: 100%;
      padding: 0;
    }

    .articles__title {
      color: #262626;

      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    .articles__items {
      margin: 0;
    }

    .articles__list {
      .sidebar {

        .work-link,
        .yandex,
        .quality {
          width: 100%;
          height: unset;
        }

        .yandex {
          padding: 17px 24px;
          margin: 16px 0;

          img {
            width: 100%;
            max-width: 200px;
          }

          &__link {
            width: 150px !important;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

  }
}