.warranty {
  display: flex;
  flex-wrap: wrap;



  // &__items {}

  // &__item {}

  &__header {
    text-align: left;
  }

  &__text {
    display: flex;
    flex-direction: column
  }

  // &__list {}

  // &__li {}
}