<div class="d-flex flex-column-reverse flex-md-row service">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="#" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Сервис</span>
                </span>
            </span>
        </div>
        <h1 class="title">
            Сервис
        </h1>
        <div class="shipping-payment__items  service">
            <div class="shipping-payment__item">
                <img src="{{src}}service.png" alt="" class="shipping-payment__pic">
                <p>
                    * — Штатное подключение техники De Dietrich на готовые
                    коммуникации
                    осуществляется бесплатно! Предложение не распространяется на газовые приборы, островные вытяжки и
                    акционные модели.
                </p>
            </div>
            <div class="shipping-payment__item">
                <h3>
                    Стоимость услуг сервисного центра
                </h3>
                <table style="border-collapse: collapse;" class="table_settings" cellspacing="1" cellpadding="1" border="0">
                    <tbody>
                        <tr>
                            <td>
                                Вид услуги
                            </td>
                            <td>
                                Москва
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Стиральная, сушильная или посудомоечная машина </td>
                            <td>
                                1600
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Стиральная или посудомоечная
                                машина под столешницу
                            </td>
                            <td>
                                1900
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Варочная поверхность, духовой
                                шкаф, микроволновая печь, пароварка, кофемашина
                            </td>
                            <td>
                                1900
                                </span> </td>
                        </tr>

                        <tr>
                            <td>
                                Встраиваемая посудомоечная или
                                стиральная машина </span>
                            </td>
                            <td>
                                1900
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка кассетная
                                </span></td>
                            <td>
                                1600
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка каминная (купольная) шириной до 60 см </td>
                            <td>2500</td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка каминная (купольная) шириной до 90 см </td>
                            <td>3000</td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка наклонная пристенная до 60 см </td>
                            <td>3000</td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка наклонная пристенная до 90 см </td>
                            <td>4000</td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка островного типа (бетон) </td>
                            <td>8000</td>
                        </tr>

                        <tr>
                            <td>
                                Вытяжка островного типа (гипсокартон)</td>
                            <td>10000</td>
                        </tr>

                        <tr>
                            <td>
                                Отдельностоящий холодильник шириной до 60 см </td>
                            <td>1600</td>
                        </tr>

                        <tr>
                            <td>
                                Встраиваемый холодильник </td>
                            <td>1900</td>
                        </tr>

                        <tr>
                            <td>
                                Отдельностоящий холодильник Side-by-Side </td>
                            <td>2500</td>
                        </tr>

                        <tr>
                            <td>
                                Холодильник Side-by-Side с подключением к воде (установка на место дальнейшей
                                эксплуатации, регулировка, подключение к готовым коммуникациям)</td>
                            <td>4000</td>
                        </tr>

                        <tr>
                            <td>
                                Холодильник Side-by-Side из двух частей (установка на место дальнейшей
                                эксплуатации, регулировка и соединение отдельных частей)</td>
                            <td>2500</td>
                        </tr>

                        <tr>
                            <td>
                                Холодильник Side-by-Side из двух частей с подключением к воде (установка на место
                                дальнейшей эксплуатации, регулировка и соединение отдельных частей, подключение к
                                готовым коммуникациям)</td>
                            <td>4000</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    Выезд за МКАД — 40 руб./км
                </p>
                <ul>
                    Стандартная установка техники включает:
                    <li>
                        проверку качества коммуникаций;
                    </li>
                    <li>
                        разблокировку;
                    </li>
                    <li>
                        встраивание в мебель;
                    </li>
                    <li>
                        выравнивание по уровню;
                    </li>
                    <li>
                        установку на место дальнейшей эксплуатации;
                    </li>
                    <li>
                        снятие транспортировочных креплений;
                    </li>
                    <li>
                        подключение к готовым электрическим точкам;
                    </li>
                    <li>
                        регулировку и соединение отдельных частей;
                    </li>
                    <li>
                        очистку рабочей зоны и уборка мусора;
                    </li>
                    <li>
                        постановку на гарантию.
                    </li>
                </ul>
                <p>
                    Дополнительные работы и материалы оплачиваются по тарифам сервисной службы.
                </p>
                <p>
                    Минимальная стоимость выезда мастера — 1600 рублей.
                </p>
                <p>
                    Простой не по вине мастера, покупка дополнительных материалов — 700 рублей за 1 час.
                </p>
                <p>
                    Демонтаж старого прибора без выноса из квартиры — от 700 рублей.
                </p>
                <p>
                    Более подробную информацию вы можете получить по телефону
                    <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
                </p>
            </div>

        </div>
    </div>
</div>