.footer {
	background-color: #f8f8f8;
	padding: 28px 0 19px;
	z-index: 3;
	position: relative;

	&__inner {
		display: flex;
		flex-wrap: wrap;
	}

	&__col {
		width: 25%;
		flex-basis: 220px;
		flex-grow: 1;

		.menu-footer__item {
			width: 205px;
			cursor: pointer;
		}

		&_3 {
			width: 35%;

			.menu-footer__list {
				display: flex;
				flex-wrap: wrap;
				height: 181px;
			}

			.menu-footer__title {
				width: 100%;
			}

			.menu-footer__item {
				width: 50%;
			}
		}

		&_last {
			width: 15%;
			flex-basis: 180px;
			display: flex;
			flex-direction: column;
		}
	}

	&__row {
		width: 100%;
		display: flex;
		padding-top: 23px;
		align-items: center;
		flex: 1 1 100%;
		justify-content: space-between;
	}

	&__copyright {
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.83;
		letter-spacing: normal;
		text-align: left;
		color: #b0b0b0;
	}

	&__button {
		height: 34px;
		padding: 4px 10px 4px 11px;
		border-radius: 3px;
		background-color: #394791;
		color: #ffffff;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		display: flex;
		align-items: center;
		text-transform: uppercase;
	}

	&__text {
		color: #666666;
		font-family: Arial;
		font-size: 13px;
		line-height: 22px;
		text-align: right;
	}

	&__tel {
		color: #333333;
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		text-align: right;
	}

	&__email {
		color: #394791;
		font-family: Arial;
		font-size: 13px;
		line-height: 22px;
		text-align: right;
		margin: 1rem 0;

		i {
			color: #666666;
			font-style: normal;
		}
	}

	&__telephones {
		display: flex;
		min-width: 203px;
		justify-content: flex-end;
	}

	.menu-footer {
		&__title {
			font-size: 18px;
			font-weight: 400;
			line-height: 36px;
			color: #333333;
			cursor: pointer;
		}

		&__link {
			color: #666666;
			font-family: Arial;
			font-size: 13px;
			line-height: 20px;
		}

		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
	}


	@media screen and (max-width: 989px) {
		.footer {
			&__col {
				width: 33.3%;
				margin-bottom: 28px;

				&_last {
					width: 66.6%;
					margin-bottom: 14px;
					display: flex;
					flex-wrap: wrap;
					flex-grow: 0;
					flex-basis: unset;
					height: 130px;
				}
			}

			&__email {
				margin: 12px 0;
			}

			&__text,
			&__tel,
			&__email {
				text-align: left;
				width: 50%;
			}
		}
	}

	@media screen and (max-width: 768px) {
		.footer {
			&__col {
				flex-basis: unset;

				.menu-footer__item {
					width: 100%;
					max-width: 100%;
				}
			}
		}

		.menu-footer__list {
			display: block;
			height: unset;
		}
	}

	@media screen and (max-width: 680px) {
		padding: 0 0 19px;

		* {
			transition: 0.3s;
		}

		.menu-footer__list-margin .menu-footer__title {
			margin-top: 0 !important;
		}

		&__col {
			width: 100% !important;
			margin-bottom: 0 !important;
			border-bottom: 1px solid #eeeeee;

			&_last {
				height: unset !important;
				margin-top: 1rem;
			}
		}

		&__row {
			flex-wrap: wrap;
		}

		&__copyright {
			width: 100%;
			text-align: center;
			margin-bottom: 16px;
		}

		&__telephones {
			margin: 0 auto;
			width: unset;
		}

		&__button {
			width: 288px;
			height: 32px;
			text-align: center;
			justify-content: center;
		}



		.menu-footer {
			height: 60px;
			overflow: hidden;

			&__title {
				padding: 16px 16px 16px 0;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=666666") 97%/18px no-repeat;
			}

			&__item {
				padding: 5px 16px;
			}

			&__list {
				padding-bottom: 10px;
			}
		}

		.active {
			height: unset;
			overflow: unset;

			.menu-footer__title {
				background: url("https://icongr.am/entypo/chevron-up.svg?color=666666") 97%/18px no-repeat;
			}
		}
	}

	@media screen and (max-width: 480px) {
		.checkbox__oferta {
			color: #666666;
			font-family: Arial;
			font-size: 12px;
			line-height: 18px;
		}
	}
}


.abuse-popup-container {
	// height: 100vh;
	// overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.popup_container {
	width: 572px;
	left: 50% !important;
	top: 50% !important;
	margin: auto !important;
	z-index: 1001;
	box-shadow: 0 0 10px -2px #748690;
	-moz-box-shadow: 0 0 10px -2px #748690;
	-webkit-box-shadow: 0 0 10px -2px #748690;
	padding: 35px 31px 27px;
	background: #fff;
	display: none;
	flex-wrap: wrap;
	z-index: 3;
	max-height: 100%;
	overflow-y: auto;

	&-active {
		display: flex;
	}

	@media screen and (max-width: 768px) {}

	@media screen and (max-width: 620px) {
		width: auto;
	}

	@media screen and (max-width: 375px) {
		width: 100%;
		padding: 16px 16px 23px;
	}
}

/* Скрываем реальный чекбокс */
.checkbox {
	display: none;
}

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
	position: relative;
	/* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 16px;
	/* Обязательно задаем ширину */
	height: 16px;
	/* Обязательно задаем высоту */
	border-radius: 2px;
	border: 1px solid #394791;
	background-color: #ffffff;
	flex-shrink: 0;
	margin-top: 4px;
}

.checkbox__oferta {
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	line-height: 18px;
	text-align: left;
}


/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked+.checkbox-custom::before {
	content: "";
	/* Добавляем наш псевдоэлемент */
	display: block;
	/* Делаем его блочным элементом */
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	@include color;
	/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
	border-radius: 2px;
}

label {
	width: 60%;
}