.all-reviews {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  .shipping-payment__item {
    border-bottom: 0;
  }



  &__top {

    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    height: 100px !important;
    position: relative;
    justify-content: unset !important;

    &-first {
      border-bottom: 0 !important;
      margin-top: 1rem;
    }

    &-last {
      border-top: 0 !important;
    }
  }

  .reviews__section {
    display: flex;
    flex-wrap: wrap;
  }

  .ratings {
    width: 100%;
    margin-left: -5px;
  }

  .filter__link {
    color: #666666;
    font-size: 14px;
    line-height: 24px;

  }

  &__text {
    width: 100%;
       color: #333333;

    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &__border {
    right: 20px;
    left: 20px;
    height: 2px;
    border: solid 1px #eeeeee;
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }

  &__link {
       color: #333333;

    font-size: 14px;
    line-height: 24px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #2e2e2e;
    margin-right: 25px;
    text-decoration: none;

    &:hover {
      color: #394791;
    }

  }

  @media screen and (max-width: 768px) {
    .all-reviews__top {
      height: unset !important;
      min-height: 100px;
    }
  }

  @media screen and (max-width: 480px) {
    .reviews__section {

      .ratings,
      .all-reviews__text {
        width: 50%;
      }
    }

    .all-reviews__top-first {
      .ratings {
        width: 100% !important;
      }
    }

    .reviews__section {
      justify-content: end !important;
    }
  }
}

.reviews {
  &__title {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    margin: 46px 0 34px;
  }

  &__top {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__all {
    color: #666666;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
  }

  &__link {

    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    @include button;


  }

  &__section {
    display: flex;
  }

  &-list {
    &__field {
      display: flex;
      padding: 9.5px 0;
      &_header{
        border-bottom: 1px solid #eeeeee;
        border-top: 1px solid #eeeeee;
      }
    }

    &__col {
      &:first-child {
        width: 200px;
        flex-shrink: 0;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
      }

      &[itemprop="author"] {
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }

      &_date {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
           color: #333333;
      }

      &_desc {
        margin-right: 5px;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
      }
    }

    &__model {
      color: #333333;
      font-family: Arial;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
    }

    &__item {
      padding: 1rem 0;
      border-bottom: 1px solid #eeeeee;
    }
  }

  .ratings {
    display: flex;

    &__star {
      width: 24px;
      height: 24px;
      background: url("../images/star.svg") no-repeat;
      background-position: center;
      background-size: 21px 20px;
    }

    &__none {
      background: url("../images/rectangle-2.svg") no-repeat;
      background-position: center;
      background-size: 21px 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .reviews__top {
      flex-wrap: wrap;
      justify-content: center;
      height: unset;
      padding: 1rem 0;
    }

    .reviews__section {
      width: 100%;
      display: flex;
      margin-bottom: 23px;
      justify-content: center;
      flex-wrap: wrap;
    }

    .reviews__link {
      width: 100%;
      text-align: center;
    }

    .ratings__star {
      background-size: 100%;
    }

    .reviews-list {
      &__field {
        flex-wrap: wrap;
      }

      &__col[itemprop="author"] {
        width: 100%;
        margin-bottom: 12px;
      }

      &__col {
        margin-bottom: 15px;
      }

      &__col_date {
        margin-left: auto;
      }

      &__item {
        padding: 15px 0;
      }
    }
  }
}