.d-flex {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  max-width: 100%;


  .sidebar {
    padding: 0;
  }

  .navchain {
    margin-bottom: 0;
  }

  h1.title {
    width: 100%;
    text-transform: uppercase;
  }

  .shipping-payment {

    &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      position: relative;
      margin-bottom: 2rem;
      align-content: baseline;
      max-width: 100%;

      h2 {
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }


      h3 {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
           color: #333333;
        width: 100%;
        margin-top: 30px;
      }

      h4 {

        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #394791;
        margin-top: 10px;
      }

      b {
        display: block;
        width: 100%;
        margin-bottom: 18px;
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
           color: #333333;
      }

      p {
        width: 100%;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        z-index: 99;
        margin-top: 1rem;

        a {
          color: #394791;
        }

        span {
          width: 100%;
          padding: 5px 0;
          font-family: Arial;
          font-weight: 700;
        }

        strong {
          display: block;
          margin-bottom: 1rem;
        }
      }

      ol {
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        padding-left: 0;
      }

      ul {
        z-index: 99;
        list-style: disc;
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
           color: #333333;
        padding-left: 0;
        width: 100%;
      }

      li {
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        line-height: 28px;
        text-align: left;
        margin-left: 2rem;
        font-weight: 400;

        &:first-child {
          margin-top: 1rem;
        }
      }

      strong {
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
      }

      tr {
        z-index: 99;
        list-style: none;
        display: flex;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
           color: #333333;
        padding-left: 0;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;

        &:first-child {
          td {
            color: #666666;
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }

      td {
        font-family: "Arial";
        color: #333333;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        padding: 11px 0 11px 13px;

        &:first-child {
          width: 286px;
          flex-shrink: 0;
        }

        i {
          color: #666666;
          font-family: Arial;
          font-size: 14px;
          font-style: normal;
        }
      }


      .maps {
        width: 100%;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        padding: 28px 0;
      }

    }


    &__item {
      width: 100%;
    }

    &__pic {
      margin: 0 0 24px;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: unset;
    }

    &__number {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }
  }


  @media screen and (max-width: 768px) {


    .sidebar {
      display: flex;
      align-items: stretch;

      .work-link,
      .yandex,
      .quality {
        width: calc(((100%/12)*4)-10px);
      }

      .yandex {
        margin: 0 15px;
        padding: 3%;
        align-items: baseline;

        &__link_form {
          margin-top: auto;
          font-size: 10px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .work-link {
        margin: 0;
        display: flex;
        flex-wrap: wrap;


        &__item {
          height: unset;
        }

        &__a {
             color: #333333;
          font-size: 14px;
        }
      }

      .quality {
        &__number {
             color: #333333;

          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
        }

        &__title {
             color: #333333;

          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }

        &__text {
             color: #333333;

          font-size: 12px;
        }
      }
    }

    h1.title {
      color: #262626;

      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      margin-bottom: 1rem;
    }

    &__items {
      width: 100%;
    }

    .shipping-payment__items {
      h3 {
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
      }

      h2 {
           color: #333333;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 30px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }

      ul {
        // margin-top: -30px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }

      li {
        font-size: 14px;
        line-height: 24px;
      }
    }

    &__pic {
      max-height: 132px;
    }
  }

  @media screen and (max-width: 480px) {
    .sidebar {
      display: flex;
      align-items: stretch;

      .work-link,
      .yandex,
      .quality {
        width: 100%;
      }

      .yandex {
        margin: 15px 0;
        padding: 3% 13% 3%;
        align-items: baseline;

        &__link_form {
          margin-top: 15px;
        }
      }

      .work-link {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        &__item {
          width: 100%;
          height: 4rem;
        }

        &__a {
             color: #333333;

          font-size: 14px;
        }
      }

      .quality {
        &__number {
             color: #333333;

          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
        }

        &__title {
             color: #333333;

          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }

        &__text {
             color: #333333;

          font-size: 12px;
        }
      }
    }

    .shipping-payment {
      &__items {
        width: 100%;

        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        p {}

        b {
          display: block;
          width: 100%;
          margin-bottom: 18px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }

        h2 {
          color: #333333;
          font-family: "Roboto Condensed";
          font-size: 22px;
          font-weight: 400;
          line-height: 30px;
        }

        ol {
          margin-bottom: 0;
        }

        ul {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 0;
        }

        li {
          color: #262626;
          font-size: 14px;
          margin-bottom: 1rem;
        }

        h4 {
             color: #333333;
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
        }

        tr {

          &:first-child {
            td {}
          }
        }

        td {
          width: 50% !important;

          &:first-child {}

          i {}
        }
      }


      &__pic {}


    }


  }
}