<divdiv class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="#" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Доставка и оплата</span>
                </span>
            </span>
        </div>
        <h1 class="title">
            Доставка и оплата
        </h1>
        <div class="shipping-payment__items">

            <div class="shipping-payment__item">
                <img src="{{src}}shipping-payment.png" alt="" class="shipping-payment__pic">
                <h3>
                    Доставка по Москве и Московской области
                </h3>
                <p>Бытовая техника De Dietrich доставляется бесплатно в пределах
                    МКАД.Стоимость доставки по Московской области за пределы МКАД — 30 руб./км.</p>
                <p>Доставка бытовой техники по Москве и Московской области
                    осуществляется
                    с помощью курьерской службы. Служба доставки работает без выходных.</p>
                <ul>
                    Время доставки
                    <li>с 12:00 до 18:00</li>
                    <li>с 16:00 до 24:00</li>
                </ul>
                <p>Если заказ сделан до 16:00, он может быть доставлен на следующий
                    день
                    при условии наличия товара на складе. Если заказ сделан после 16:00, он доставляется через день.
                    Подробности вы можете уточнить у менеджеров интернет-магазина по телефону
                    <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
                </p>
                <ul>
                    Условия доставки
                    <li>При безналичной оплате товар доставляется в течение
                        трех
                        дней с момента поступления денег на счет.</li>
                    <li>Приобретенная в нашем интернет-магазине техника
                        доставляется по фактическому адресу.</li>
                    <li>При оформлении заявки необходимо указать точный адрес
                        доставки, в том числе: улицу, дом, номер квартиры или офиса.</li>
                    <li>В лесные массивы, на пляжи, в парки и на пустыри
                        доставка
                        техники не осуществляется.</li>
                    <li>Доставка товара в офисные здания и на территорию
                        предприятия осуществляется до контрольно-пропускного пункта или проходной.</li>
                    <li>Курьер ждет не более 15 минут.</li>
                    <li>Если курьер вынужден воспользоваться платной
                        парковкой,
                        ее стоимость оплачивает заказчик.</li>
                    <li>В случае превышения времени стоянки в центре Москвы
                        стоимость доставки увеличивается на 50 рублей.</li>
                </ul>
                <ul>
                    Стоимость ручного подъема при отсутствии лифта
                    <li>Малая бытовая техника до 7 кг — бесплатно</li>
                    <li>от 7 до 15 кг — 50 руб. за этаж</li>
                    <li>от 15 кг — 100 руб. за этаж</li>
                    <li>Духовые шкафы, вытяжки 60 и 90 см, купольные вытяжки,
                        варочные панели, встраиваемые микроволновые печи, декоративные панели, подогреватели посуды,
                        встраиваемые кофемашины, стиральные, сушильные машины, посудомоечные машины, плиты — 100 руб.
                        за
                        этаж</li>
                    <li>Стандартные холодильники и морозильники — 150 руб. за
                        этаж</li>
                    <li>Холодильники Side-by-Side, а также негабаритный и
                        крупногабаритный товар — 400 руб.* за этаж</li>
                </ul>
                <p>* — Итоговая стоимость зависит от габаритов прибора и условий
                    подъема.
                </p>
                <p><b>Стоимость
                        подъема на лифте соответствует стоимости подъема на 1 этаж.</b>Бытовая техника доставляется в
                    квартиру, если есть свободный проход. Грузчики и экспедиторы не имеют права демонтировать ручки и
                    двери
                    приборов, которые создают помехи при транспортировке, так как впоследствии сервисный центр может
                    отказаться проводить гарантийный ремонт.
                </p>
                <p>Если курьер не застал покупателя на месте или не смог до него
                    дозвониться, доставка не будет осуществлена, но ее можно перенести на другое время по согласованию
                    с
                    менеджером.</p>
                <p>По вопросам, которые касаются заказа и доставки, можно обратиться
                    к
                    менеджеру по телефону
                    <a href="tel:74955653990" class="shipping-payment__number">+7 (495) 565-39-90</a>
                </p>
            </div>
            <div class="shipping-payment__item">
                <h3>
                    Осмотр и проверка техники
                </h3>
                <p>При получении товара внимательно проверьте его целостность,
                    комплектацию и отсутствие следов установки. После подписания договора техника не может быть
                    возвращена
                    из-за внешнего вида, в соответствии со статьями 458 и 459 ГК РФ. Требования ст. 484 ГК РФ
                    обязательны к
                    выполнению, несмотря на загрязнение товара и малую освещенность помещения.
                </p>
                <p>Если Вы обнаружили скрытый дефект в товаре, просьба сообщить об
                    этом
                    по телефону +7 (495) 565-39-90
                    Обмен товара или возврат денежных средств Покупателю осуществляется после проведения экспертизы
                    сервисного центра.
                </p>
                <p>
                    Вы можете отказаться от товара, если его качество вас не устраивает, в любое время до подписания
                    документов, а также в течение семи дней после передачи. Обмен или возврат возможен при выполнении
                    следующих условий:
                </p>
                <ul>
                    <li>техника не эксплуатировалась;</li>
                    <li>прибор не утратил потребительских свойств и товарный
                        вид;</li>
                    <li>сохранились товарный и кассовый чеки, а также
                        инструкция,
                        упаковка, пломбы и ярлыки;</li>
                    <li>у товара нет механических повреждений: вмятин,
                        трещин,
                        царапин и сколов;</li>
                    <li>техника не входит в перечень товаров, которые не
                        подлежат
                        возврату и обмену (перечень таких товаров утвержден Постановлением Правительства РФ №55 от 19
                        января 1998 года).</li>
                </ul>
            </div>
            <div class="shipping-payment__item">
                <h3>
                    Доставка в регионы России
                </h3>
                <p>
                    «ЖелДорЭкспедиция» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
                </p>
                <p>
                    «ПЭК» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
                </p>
                <p>
                    «КИТ» — <a href="https://www.jde.ru/online/calculator.html" rel="nofollow">Калькулятор</a>
                </p>
                <p>
                    <b>Оформление заказа</b>
                    Необходимо указать телефон и адрес электронной почты, чтобы менеджер мог с Вами связаться и
                    согласовать
                    детали заказа, а также выслать счет на оплату товара, в который входит также стоимость доставки
                    товара
                    до склада транспортной компании.
                </p>
                <p style="color: #aa6e4f;">Внимание! Доставка в регионы
                    осуществляется по
                    стопроцентной предоплате!</p>
                <p>
                    <b>Оплата</b>
                    В течение трех рабочих дней после оформления заказа его нужно оплатить в любом банке России.
                    Как
                    только
                    денежные средства поступают на наш счет, товар резервируется на складе. В случае отсутствия
                    техники
                    на
                    складе, менеджер интернет-магазина поможет выбрать другой товар либо оформить документы для
                    возврата
                    денег.
                </p>
                <p>
                    <b>Отгрузка</b>
                    Отгрузка техники со склада торговой компании в Москве происходит в течение 3 рабочих дней после
                    оплаты.
                    Когда товар будет отправлен, на Вашу электронную почту придет письмо с подтверждением, в
                    котором
                    будет
                    указан номер товарной накладной. На сайте транспортной компании по этому номеру всегда можно
                    проследить
                    актуальный статус груза.
                </p>
                <p>
                    <b>Сроки доставки</b>
                    Сроки получения товара сообщает менеджер после оформления заказа. Транспортная компания
                    доставляет
                    товар до регионального склада либо по указанному адресу. Способ получения можно согласовать со
                    специалистами транспортной компании.
                </p>
                <p>
                    <b>Получение товара</b>
                    Для получения товара необходимо предоставить:
                    <ul>
                        <li>физическим лицам — паспорт гражданина РФ;</li>
                        <li>юридическим лицам — паспорт и доверенность на
                            получение груза.</li>
                    </ul>
                </p>
                <p>
                    <b>Условия продажи товара физическим лицам</b>
                    Оформляя заказ в специализированном магазине De Dietrich, вы соглашаетесь
                    <a href="agreement.php">условиями продажи товара физическим лицам</a>
                </p>
            </div>
            <div class="shipping-payment__item">
                <h3>
                    Способы оплаты
                </h3>
                <p>
                    <b>Наличный расчет</b>
                    Клиент оплачивает стоимость заказа при доставке.
                </p>
                <p>
                    <b>Оплата картой*</b>
                    *Допускается оплата картами: Visa / Visa Electron / MasterCard / MasterCard Electronic / Maestro.
                    Необходимо заранее уточнить у менеджера возможность оплаты картой.
                </p>
                <p>
                    <b>Оплата по безналичному расчету</b>
                    На электронную почту клиента, юридического или физического лица, высылается счет на оплату. Срок
                    действия счета на предоплату — 3 дня.
                </p>
                <p>
                    Счета-фактуры и товарные накладные передаются из офиса перед началом работы, с утра. Срок действия
                    документов — один день, поэтому рекомендуется выбрать и согласовать дату получения товара до 16:00
                    предыдущего дня.
                </p>
                <p>
                    Техника отгружается представителям юридического лица либо специалистам транспортной компании только
                    при наличии доверенности на получение товара.
                </p>
            </div>
        </div>
    </div>
    </div>