.content-top {
    background: url("../images/catalog.jpg") no-repeat;
    background-size: auto 100%;
    max-width: 1436px;
    margin: 0 auto;

    &__inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: baseline;
    }

    .container {
        padding: 0;
    }

    &__title {
        width: 100%;

        &_top {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 36px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 32px;
        }

        &_bottom {
            margin-bottom: 91px;
            width: 470px;
            color: #ffffff;
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
        }
    }

    .navchain {
        width: 100%;

        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 10px;
        margin-top: 2rem;

        a {
            color: #ffffff;
        }
    }

    .tags {
        display: flex;
        height: 48px;
        background-color: #262626;

        &__list {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            justify-content: center;
            width: 100%;
        }

        &__item {

            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.33;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-right: 30px;

            a {
                color: #ffffff;
                padding-bottom: 3px;
                border-bottom: 1px dashed #ffffff;
                text-decoration: none !important;

                &:hover {
                    border-bottom: 1px dashed transparent;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .tags {
            height: unset;

            &__list {
                flex-wrap: wrap;
                padding: 9px 23px 14px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        background: url("../images/catalog-mobile.png") no-repeat;

        &__title_bottom {
            width: 380px;
            color: #ffffff;
            font-family: Arial;
            font-size: 13px;
            line-height: 22px;
        }

        &__title_top {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 32px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
        }

    }

    @media screen and (max-width: 480px) {
        height: 400px;
        background-position-x: 75%;

        .container {
            height: 100%;
        }

        .page__title.content-top__title_bottom {
            display: none;
        }

        .navchain {
            font-family: Arial;
            font-size: 12px;
            line-height: 24px;
            margin-top: 146px;
            text-align: center;
        }

        &__title_top {
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 30px;
            font-weight: 400;
            line-height: 39px;
            text-transform: uppercase;
            word-spacing: 60rem;
            text-align: center;
        }

        &__inner {
            background: #00000030;
        }
    }


}