.navchain {
  width: 100%;
  color: #999999;
  font-family: Arial;
  font-size: 12px;
  line-height: 24px;

  &_margin {
    margin-left: 25%;
  }

  a {
    color: #394791;
  }
}

.product-card {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;



  &__slider {
    width: 46.84300341296928%;
    margin-top: 19px;
    display: flex;
    align-content: baseline;
    position: relative;
    height: 552px;
    flex-wrap: wrap;

    .product-card__title {
      display: none;
    }

    .swiper-container {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      border: 1px solid #f1f1f1;
      background-color: #ffffff;
      padding: 4px 20px;
      display: flex;
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }

    .gallery-top.swiper-container {
      width: calc(100%-100px);
      height: auto;
    }

    .gallery-thumbs {
      box-sizing: border-box;
      padding: 10px 0;
      order: -1;
      width: 100px;
      height: 70%;
      flex-shrink: 0;

      .swiper-wrapper {

        // transform: initial!important;
        // margin-left: calc(-40% - 5px);
      }
    }

    .gallery-thumbs .swiper-slide {
      height: 100%;

      iframe {
        pointer-events: none;
      }

      video {
        z-index: -2;
      }
    }

    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }

    .gallery-top {
      margin-bottom: -50px;

      .swiper-slide {
        position: relative;
        border: none;


        iframe {}


      }
    }

    .catalog__prop {
      position: absolute;
      bottom: 0;
      z-index: 99;

      div {
        width: 48px;
        height: 48px;
        background-size: 48px;

        &.PROPERTY_FILT_NOFROST_VALUE {
          background: url('../images/prop-2.png') no-repeat 0 0;
        }

        &.PROPERTY_ENERGYCLASS_VALUE_APPP {
          background: url('../images/prop-3.png') no-repeat 0 0;
        }
      }
    }

  }

  &__info {
    width: 49.27303754266212%;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin-left: auto;
  }

  &__title,
  &__model {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-top: 1rem;
  }

  &__model {
    margin-bottom: 18px;
  }

  &__key,
  &__date {
    color: #333333;
    font-family: Arial;
    font-size: 14px;
  }

  &__key {
    margin-right: 2rem
  }


  &__price {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    margin-right: 9%;

    b {
      font-size: 24px;
      line-height: 2.2;
      margin-left: 5px;
    }

    &.expected-time {
      color: #999999;
      display: flex;
      margin-right: 0;
      width: 100%;

      .expected-time__text {
        color: #999999;
        font-family: Arial;
        font-size: 14px;
        line-height: 24px;
        max-width: 174px;
        text-transform: none;
        margin-left: 2rem;
      }
    }

    &.out-production {
      display: none;
    }
  }

  &__presence {
    width: 100%;
    height: 24px;
    margin-top: 2rem;
    margin-bottom: 1rem;

    &.red {
      color: #d92300;
    }

    &.out-production {
      color: #333333;
      font-family: "Roboto Condensed";
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

    &.out-production .d-flex {
      display: none !important;
    }
  }

  &__buy {
    height: 46px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;

    @include button($margin: 0 24px 0 0);
  }

  &__icons {
    color: #394791;
    font-family: Arial;
    font-size: 14px;
  }

  &__announcing {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;

    .announcing {
      width: 30%;
      height: 40px;
      padding-left: 52px;
      color: #333333;
      font-family: Arial;
      font-size: 14px;
      line-height: 18px;
      word-spacing: 1rem;

      &__bulgaria {
        background: url("../images/bulgaria_square_icon_64.png") -5px/54px no-repeat;
      }

      &__germany {
        background: url("../images/germany_square_icon_64.png") -4px/54px no-repeat;
      }

      &__austria {
        background: url("../images/austria_square_icon_64.png") -5px/54px no-repeat;
      }

      &__new {
        background: url("../images/new.png") 1px/40px no-repeat;
      }

      &__hit {
        background: url("../images/hit.png") 1px/40px no-repeat;
      }

      &__sale {
        background: url("../images/sale.png") -1px/40px no-repeat;
      }

      &__service {
        background: url("../images/service.png") 1px/40px no-repeat;
      }

      &__delivery {
        background: url("../images/delivery.png") 1px/40px no-repeat;
      }
    }

    &.expected-time {
      display: none;
    }

    &.out-production {
      display: none !important;
    }
  }

  &__rel {
    color: #333333;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;

    tr {
      display: flex;
      padding: 5px 0;
    }

    th {

      font-family: Arial;
      font-size: 14px;
      line-height: 20px;
      margin-right: 1rem;

      a {
        color: #394791;
      }
    }

    td {
      font-family: Arial;
      font-size: 14px;
      color: #333333;
      font-weight: 700;
      line-height: 20px;

    }

    &.expected-time {
      display: none;
    }

    &.out-production {
      display: none !important;
    }
  }

  &__key-features {
    display: flex;
    width: 100%;

    .key-features {
      &__list {
        padding: 0;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        font-weight: 700;
      }

      &__li {
        margin-left: 2rem;
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
      }
    }

  }

  &__back {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -65px;

    a {
      color: #394791;
      font-family: Arial;
      font-size: 14px;
    }
  }


  &__description {
    display: flex;
    flex-wrap: wrap;

    .description {
      &__title {
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 14px;
      }

      &__text {
        color: #333333;
        font-family: Arial;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 31px;
      }
    }

    .shipping-payment__item {
      width: 100%;
    }

    .help {
      display: flex;
      flex-wrap: wrap;



      &__item {
        justify-content: flex-start !important;
      }



      &__row {
        width: 100%;
        height: 48px;
        background-color: #f8f8f8;
        color: #2e2e2e;
        font-family: "Roboto Condensed";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding: 11px 13px 13px 52px;
        display: flex;
        flex-wrap: wrap;
        background-color: #ffffff;
        border: solid 1px #eeeeee;
        margin: 9px 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") #f8f8f8 2% 15px/18px no-repeat;
        cursor: pointer;

        &-open {
          background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") #f8f8f8 2% 15px/18px no-repeat;
          color: #394791;
          height: auto;
          box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
          background-color: #ffffff;
          position: relative;



          .characteristic__parent {
            display: flex !important;
            flex-wrap: wrap;
          }
        }

        &:hover {
          box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
        }

        .characteristic__parent {
          display: none;
          padding: 1rem 0;

        }
      }

      &__info {

        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        width: 100%;
        margin-top: 15px;
        display: none;
      }

      @media screen and (max-width: 768px) {
        &__row {
          color: #333333;

          font-size: 16px;
          font-weight: 500;
          line-height: 24px;

          &-open {
            color: #394791;
          }
        }

        .help__info {
          color: #333333;

          font-size: 14px;
          line-height: 22px;
        }
      }

      @media screen and (max-width: 480px) {
        &__row {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;


          &-open {
            color: #394791;
          }
        }

        &__info {

          font-size: 14px;
          line-height: 22px;
        }
      }
    }


    .catalog-back {
      padding-left: 30px;
      display: flex;
      align-items: center;
      background: url("https://icongr.am/feather/arrow-left.svg") no-repeat 0 4px/18px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
    }
  }

  &__middle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }



  .sidebar-right {
    width: 23.74061433447099%;
    margin-left: auto;
    padding: 118px 0 0 0;

    .documentation {
      margin: 0 0 28px 0;
      width: 100%;
      background-color: #ffffff;
      display: flex;
      flex-wrap: wrap;


      &__title {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }

      .doc_loading {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        padding: 9px 9px 9px 47px;
        border: 1px solid #eeeeee;
        align-items: center;


        .icon_doc {
          background: url("../images/documentation__pic.svg") no-repeat 100% 100%;
          width: 32px;
          height: 32px;
          margin-right: 10px;
          margin-left: -45px;
        }

        span {
          color: #394791;
          font-family: "Roboto Condensed";
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          width: 100%;
        }

        &_first {}

        &+.doc_loading {
          border-top: 0 !important;
        }
      }
    }

    .upsale {
      display: flex;
      margin: 0 0 28px 0;
      width: 100%;
      padding: 24px 32px;
      background-color: #ffffff;
      border: solid 1px #eeeeee;
      display: flex;
      flex-wrap: wrap;

      &:hover {
        box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
      }

      &__title {

        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #f1f1f1;
        max-width: 100%;
      }

      &__pic {
        width: 58px;
        height: 100px;
        flex-shrink: 0;
        margin: 0 21px;
      }

      &__text {
        display: flex;
        flex-wrap: wrap;
      }

      &__description {

        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        margin-bottom: 21px;
      }

      &__sale {

        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        margin-right: 10%;

        i {
          font-style: normal;
          font-size: 14px;
          line-height: 1.71;
        }
      }

      &__links {
        display: flex;
        flex-grow: 1;

      }

      &__link {
        width: 24px;
        height: 24px;

        &_first {
          background: url("../images/compare__color.svg") 0 /24px no-repeat;
          margin-right: 16px;
        }

        &_two {
          background: url("../images/shopping-cart__color.svg") 0 /24px no-repeat;
        }

        b {
          display: none;
        }
      }

      .product-card__presence {
        display: none;
      }
    }
  }

  .tabs {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    width: 74%;

    .active {
      border-bottom: 4px solid #394791;

      a {
        color: #394791;
      }
    }

    &__list {
      display: flex;
      list-style: none;
      align-content: baseline;
      padding: 0;
      position: relative;
      margin-bottom: 49px;
    }

    &__absolute {
      position: absolute;
      bottom: -2px;
      height: 1px;
      border: 1px solid #f2f2f2;
      margin-left: -50%;
      width: 300%;
    }

    &__li {
      display: flex;
      border-bottom: 4px solid transparent;

      a {
        color: #666666;
      }
    }

    &__link {

      padding: 20px 28px;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      display: flex;
      align-items: center;
    }

    .hide-tabs {
      width: 100%;
      display: flex;

      &__characteristic {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
      }

      &__delivery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        display: none;
      }

      .characteristic {
        &__title {

          width: 100%;
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
          margin-bottom: 11px;
          margin-top: 24px;

          &:first-child {
            margin-top: 0;
          }
        }

        &__row {
          width: 100%;
          height: 32px;
          display: flex;
          align-items: center;
        }

        &__name {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.29;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
        }

        &__dashed {
          flex-grow: 1;
          border-bottom: 1px dashed #d7d7d7;
          height: 10px;
          margin: 0 10px;
        }

        &__property {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.29;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
        }

        &__copyright {
          margin-top: 35px;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #666666;
          display: flex;
          height: 150px;
        }
      }
    }
  }

  .reviews {
    &__title {
      margin: 0 0 52px;
    }

    &__top {
      border: 0;
      justify-content: flex-start;
      padding: 0;
    }

    &__link {
      margin-left: 27px;

    }
  }

  .similar-models {
    .special-offers__text {
      padding-bottom: 0;
    }

    .special-offers__title {
      width: 100%;
    }

    .catalog {
      width: 100% !important;

      &__specification {
        height: unset;
      }

      .swiper-slide {
        min-width: 230px;
        flex-basis: unset;
      }
    }

    * {
      transition: 0.4s;
    }

    .special-offers__slide .grey {
      color: #666666;
    }

    .swiper-slide {
      min-width: 280px;
      width: 25%;
    }

    .swiper-slide:hover {}
  }

  .swiper-pagination {
    display: none;
  }

  @media screen and (max-width: 768px) {
    position: relative;

    .navchain {
      margin-bottom: 0;
    }

    &__slider {
      width: 100%;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 60px;
      height: 660px;

      .product-card__title {
        display: flex;
        margin-bottom: 40px;
        width: 100%;
        order: -2;
      }
    }

    &__info {
      width: 100%;

      .product-card__title,
      .product-card__model {
        display: none;
      }
    }

    &__title,
    &__model {
      width: unset;
      font-size: 30px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #262626;
    }

    &__price {
      width: unset;
      display: flex;
      align-items: center;
      padding: 0;
      align-self: baseline;
    }

    &__key,
    &__date {
      width: auto;

    }

    &__key {
      width: auto;
      margin-right: 145px;
    }

    &__presence {
      margin: 1rem 0;
      font-size: 14px;
      line-height: 1.71;
    }

    &__description {}

    &__button {
      margin-bottom: 2rem;
      padding: 0;
    }

    &__announcing {
      .announcing {
        word-spacing: unset;
        max-width: 165px;
        margin-right: 1rem;
      }

    }

    .swiper-container.gallery-top {
      height: fit-content;
      width: calc(100%-80px);
      position: relative;
      left: 0;
      margin: 0;
      height: 569px;
      padding: 0;

      .swiper-slide {}

    }

    .gallery-thumbs {
      margin: 0;
      width: 80px;
      height: 65%;

      .swiper-slide {
        width: unset;
        padding: 2px 5px;

      }

      .swiper-wrapper {
        padding: 0;
        position: absolute;
      }
    }

    .product-card__back {
      position: unset;
    }

    .tabs {
      width: 100%;

      &__list {
        width: 100%;
      }

      &__li {
        width: 50%;

        justify-content: center;
      }

      .characteristic__row {}

      .characteristic__property {
        width: 30%;
      }
    }

    .sidebar-right {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 32px 0;

      .documentation {
        width: 100%;

        .doc_loading {
          width: calc(50%-1rem);

          &_first {
            margin-right: 2rem;
          }
        }

      }
    }



    .work-link,
    .yandex,
    .quality {
      width: calc(33%-0.6666666666666667rem);
      margin-bottom: 0;
      min-width: 166px;
    }

    .work-link {
      .work-link__item {
        height: 33%;
      }
    }

    .yandex {
      padding: 3% 5%;
      margin: 0 1rem;
    }

    .product__bottom__border {
      display: none;
    }

    .reviews-list__col:first-child {
      width: unset;
      flex-basis: 120px;
    }

    .similar-models .swiper-slide {
      padding: 16px;
      min-width: unset !important;
      max-width: unset !important;
      flex-basis: unset;
    }
  }

  @media screen and (max-width: 480px) {
    &__slider {
      margin-bottom: 0;
      padding-bottom: 0;
      height: auto;

      .catalog__prop {
        position: unset;
        margin: 0 auto;
        margin-top: 4rem;
      }
    }

    &__title {
      color: #333333;
      font-family: "Roboto Condensed";
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      text-transform: uppercase;
      margin-bottom: 1rem !important;
    }

    &__price {
      color: #333333;
      font-family: "Roboto Condensed";
      font-size: 36px;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase;
      width: 100%;
      justify-content: center;
      margin-right: 0;
      margin-bottom: 1rem;

      .price__absolute {
        left: unset;
      }

      b {
        font-size: 36px;
        margin-left: 10px;
      }
    }

    &__button {
      flex-direction: column;
    }

    &__buy {
      padding: 3% 30%;
      height: unset;
      margin-right: 0;
    }

    .product-card__icons {
      text-align: center;
      padding: 5px 0;
    }

    .product-card__announcing {
      flex-wrap: wrap;


      .announcing {
        width: unset;
        max-width: 130px;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__presence {
      order: unset;
      text-align: center;
    }

    &__key,
    &__date {
      text-align: center;
      margin-right: 0;
      width: 100%;
    }

    .gallery-thumbs {
      display: none;
    }

    .gallery-top {
      width: 100% !important;
      height: 370px !important;

      .swiper-slide {
        height: unset;
      }
    }

    .swiper-pagination {
      display: flex;
      bottom: 10px;
      justify-content: center;
      width: 100%;
      bottom: 100px;
    }

    .swiper-pagination-bullet {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet-active {
      color: #394791 !important;
      background-color: #394791 !important;
    }

    &__description.closed {

      .description__title {
        margin-top: 0;
        align-items: center;
        display: flex;
      }
    }

    &__description {}

    .description__title {
      color: #333333;
      font-family: "Roboto Condensed";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 10px;
      width: 100%;
    }

    .product-card__back {
      margin-bottom: 2rem;
    }

    .tabs {
      position: relative;

      &__list {
        flex-wrap: wrap;
        position: unset;
        margin-bottom: unset;
      }

      &__absolute {
        display: none;
      }

      &__li {
        width: 100%;
        justify-content: unset;
        margin-bottom: 25px;
      }

      .js-characteristic {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-up.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 40px;
      }

      .js-characteristic.closed {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 54px;
        display: flex;
        align-items: center;

        a {
          margin: auto 0;
        }
      }

      .js-delivery {
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        height: 54px;
        margin-top: -28px;
      }

      .js-delivery.closed {
        position: absolute;
        bottom: -50px;
        border: 0;
        background: url("https://icongr.am/entypo/chevron-down.svg?color=d6d6d6") 97%/18px no-repeat;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 54px;

        a {
          margin: auto 0;
        }
      }

      &__link {
        padding-left: 0;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;

        letter-spacing: normal;
        text-align: left;
        color: #2e2e2e !important;
        padding: 10px 0;
      }

      .hide-tabs__characteristic.closed {
        display: none !important;
      }

      .hide-tabs__delivery.closed {
        display: none !important;
      }

      .hide-tabs {
        margin-top: -19px;
      }
    }

    .sidebar-right {
      flex-direction: row;
      max-height: unset;
      margin-top: 2rem;
    }

    .documentation,
    .work-link,
    .upsale {
      width: 100% !important;
    }

    .upsale {
      overflow: hidden;
      position: relative;
      border: 0 !important;
      padding: 0 !important;

      &:hover {
        box-shadow: unset !important;
      }

      &__items {
        flex-wrap: nowrap !important;
      }

      &__item {
        flex: 1 0 100%;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 40px !important;
      }

      &__title {
        line-height: 1.5 !important;
      }

      &__pic {
        width: 100% !important;
        height: auto !important;
        padding: 0 25%;
      }

      &__text {
        margin: 0 19px 20px;
      }

      &__description {
        font-size: 16px !important;
        line-height: 1.5 !important;
      }

      .product-card__presence {
        display: block !important;
        width: 100%;
        order: 1;
        text-align: left;
        margin: 0;
      }

      &__links {
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        align-items: flex-end;
      }

      &__info {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      &__sale {
        flex-basis: unset;
        margin-bottom: 8px;
      }

      &__link {
        width: unset !important;
        height: unset !important;

        b {
          display: block !important;
        }

        &_first {
          width: 77px !important;
          order: 1;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #333333;
          border-bottom: 1px dashed #2e2e2e;
          margin-right: 0 !important;
          background: unset !important;
        }

        &_two {

          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          width: 96px !important;
          border-radius: 2px;
          background-color: #394791 !important;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 8px;
          height: 36px !important;
        }
      }
    }

    .reviews {
      &__top {
        background-color: #ffffff;
        padding: 0;
        justify-content: unset;
      }

      .reviews__link {
        margin-left: 0;
      }

      &__title {
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 1rem;
      }

      .reviews-list__col:first-child {
        margin-bottom: 8px;
      }

      &__section {
        margin-top: 0;
        margin-bottom: 23px;
        justify-content: unset;
      }

      .reviews-list__field_header {
        .ratings__star {
          width: 16px;
          height: 16px;
        }


      }

      &-list {
        &__field {
          flex-wrap: wrap;
          padding: 0 !important;
        }

        &__col[itemprop="author"] {
          width: 100%;
          margin-bottom: 12px;
          flex-basis: unset;
        }

        &__col_date {
          margin-left: auto;
        }
      }
    }

    .sidebar {
      margin-bottom: 0;
    }

    .characteristic__row {
      height: unset !important;
      line-height: unset;
      padding: 5px 0;
      flex-direction: column;
      align-items: unset !important;

      .characteristic__dashed {
        display: none;
      }

      .characteristic__property {
        color: #2e2e2e !important;
        font-family: Arial !important;
        font-size: 14px !important;
        font-weight: 700 !important;
      }
    }

    .characteristic__name,
    .characteristic__property,
    .characteristic__copyright {
      line-height: 1.29 !important;
      text-align: left;
    }

    .special-offers__title {
      margin: 0;
      text-align: left;
    }

    .special-offers.similar-models {
      padding-top: 0;
      padding-bottom: 4rem;

      .container {
        margin: 0;
      }

      .swiper-pagination_2 {
        margin-top: 2rem;
      }
    }

    .yandex,
    .work-link,
    .quality {
      width: 100%;
      margin: 1rem 0;

      .work-link__item {
        height: 3rem;
      }
    }

    .sidebar-right {


      .documentation {


        .doc_loading {
          width: 100%;

          &_first {
            margin-right: 0;
          }
        }

      }
    }
  }
}