.menu {
  * {
    transition: 0.2s;
  }

  nav {
    width: 100%;

    .header__telephones {
      display: none;
      align-items: center;

    }
  }

  display: flex;
  align-items: center;
  flex-shrink: 1;
  width:701px;

  @media (max-width:850px) {
    padding-right: 1%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

  }

  &__item {

    &:hover {

      a,
      span {
        color: #394791;
        text-decoration: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    font-family: "Arial";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
  }

  .menu__compare-320 {
    display: none;
  }

  @media (max-width: 964px) {
    display: none;

    nav {
      display: flex;
      flex-wrap: wrap;

      .header__telephones {
        display: flex;
        margin-top: 0;
        align-items: baseline;
      }
    }

    &.active {
      transform: scale(1);
      z-index: 10;
      background-color: #262626;
    }

    &__list {
      flex-direction: column;
      padding: 24px 0 30px;
      width: 100%;
    }

    &__item+&__item {
      margin-top: 16px;
    }

    .header__block_bottom & {
      display: flex;
    }
  }

  .header__block_bottom & {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  .menu__item {
    padding-right: unset;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    z-index: 10;

    &.active {
      height: 100vh !important;
      overflow-y: scroll !important;
    }
  }

  // .header__dropdown-menu {
  //   position: absolute;
  // }

  .header .header__icons,
  .hamburger,
  .logo {
    position: absolute;
    top: 18px;
  }

  .logo {
    left: 13%;
  }

  .header .header__icons {
    right: 24px;
  }

  .header__telephones {
    position: unset;
    margin-bottom: 30%;
    padding-bottom: 50px;
  }




  // .header .header__block_top {
  //   height: unset;
  // }
}

@media screen and (max-width: 375px) {
  .menu__compare-320 {
    display: flex !important;

    height: 53px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.75;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    color: #eeeeee;
    border-bottom: 1px solid #494949;
    margin-bottom: 24px;
    padding: 0 0 0 30px;
    background: url("../images/compare__color.svg") 0 /24px no-repeat;

    i {
      font-style: normal;
    }

    &:hover {
      background-color: #5a5a5a;
      color: #394791;

      i {
        color: white;
      }
    }
  }

  .menu__list {
    padding-bottom: 0;
  }

  .menu__item {
    padding: 0 10px;
  }

  .menu__link {

    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.75;
    letter-spacing: normal;
    text-align: left;
    color: #eeeeee;
  }

  .dropdown-menu__back {
    font-family: '' !important;
    font-size: 12px !important;
    line-height: 3.75 !important;
  }

  .header__telephones {
    flex-wrap: wrap;
    height: unset;
  }

  .header__phone {
    margin-bottom: 15px;
  }
}