.about-us {
  display: flex;
  flex-wrap: wrap;

  &__items {}

  &__item {
    display: flex;
    margin-bottom: 48px;
  }


  &__header {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #394791;
    margin-bottom: 40px;
  }

  h3 {
    max-width: 272px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  &__img {
    margin-right: 28px;
    width: 68%;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }


  @media screen and (max-width: 768px) {
    &__header {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
    }

    &__item {
      align-items: end;
      margin-bottom: 24px;
      width: 100%;

      iframe {
        max-width: 100%;
        width: 100%;
      }
    }

    &__img {
      margin-right: 24px;
      width: 50%;
    }

    h3 {
      max-width: 218px;
      margin-right: 24px;
    }

    p {}
  }

  @media screen and (max-width: 480px) {
    &__item {
      flex-direction: column;

      iframe {
        height: 220px;
      }
    }

    &__title {
      color: #262626;

      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    &__header {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      margin-bottom: 0;
    }

    &__img {
      width: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      max-width: unset;
      margin-right: 0;
      margin-bottom: 1rem !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      line-height: 24px !important;
    }

    &__text {
      color: #262626;

      font-size: 13px;
      line-height: 20px;
    }
  }
}