<div class="d-flex flex-column-reverse flex-md-row">
    <div class="col-md-3">
        {% include 'section/sidebar/sidebar.html' %}
    </div>
    <div class="col-md-9">
        <div class="navchain">
            <span itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="#" itemprop="item" href="/">De Dietrich</a>
                </span>
                »
                <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="item">Правила возврата и обмена</span>
                </span>
            </span>
        </div>
        <h1 class="title">
            Правила возврата и обмена
        </h1>
        <div class="about__us">
        </div>
    </div>

</div>