.order-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    .navchain {
        margin-bottom: 0;
    }

    &__title {
        width: 100%;
        margin: 4px 0 32px;

        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #262626;
    }

    .table {
        display: flex;
        flex-wrap: wrap;

        &__title,
        &__items,
        &__total {
            width: 100%;
            padding: 10px 24px;
            justify-content: space-between;
        }

        &__title {
            display: flex;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: left;
            color: #333333;
            border-bottom: 1px solid #e0e0e0;

        }

        &__items {
            display: flex;
            background-color: #ffffff;
            max-height: 125px;
            position: relative;
            border-bottom: 1px solid #e0e0e0;
        }

        &__link {
            display: flex;
            width: 114px;
            height: 114px;
            align-items: center;

            img {
                width: 56px;
                height: 105px;
            }
        }


        .title__span,
        .table__item {
            align-items: center;
            width: 15%;
            display: flex;
            color: #999999;
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;

            strong {
                color: #333333;
                font-family: "Roboto Condensed";
                font-size: 18px;
                font-weight: 400;

            }

            &.delete {
                width: unset;
            }
        }

        .name {
            display: flex;
            width: 46%;
            color: #999999;
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
        }

        &__text {
            padding-left: 5%;
        }

        .how-many {
            display: flex;
            align-items: center;
            color: #999999;
            font-family: Arial;
            font-size: 12px;
            font-weight: 700;
            height: 34px;
            border-radius: 2px;
            align-self: center;
            position: relative;

            &.table__item {}

            a {
                margin: 0 5px;
            }

            input {
                width: 98px;
                flex-shrink: 0;
                border: 0;
                outline: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                color: #333333;
                font-family: "Roboto Condensed";
                font-size: 18px;
                font-weight: 400;
                border: 1px solid #eeeeee;
            }

            .decr,
            .incr {
                color: #999999;
                font-family: Arial;
                font-size: 19px;
                font-weight: 700;
                position: absolute;
            }

            .decr {
                left: 0;
            }

            .incr {
                left: 75px;
            }
        }

        .special-offers__text {
            max-height: unset;
            height: unset;
            display: flex;
            align-items: center;
            padding: 0;
            color: #333333;
            font-family: "Roboto Condensed";
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }

        .delete__table {
            background: url("../images/order__pic.png") center no-repeat;
            height: 100%;
            color: transparent;

            &:hover {
                background: url("../images/order__color.png") center no-repeat;
            }
        }

        &__total {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            color: #333333;
            font-family: "Roboto Condensed";
            font-size: 18px;
            font-weight: 400;


            strong {
                color: #333333;
                font-family: "Roboto Condensed";
                font-size: 30px;
                font-weight: 400;
                margin-left: 10%;
            }
        }
    }


    .swiper-slide {
        padding: 12px 20px;
        transition: 0.4s;
        box-shadow: 0 2px 25px 0 transparent;

        &:hover {
            box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
        }

        .upsale__parent {
            display: flex;
            justify-content: center;
        }

        img {
            max-height: 200px;
            max-width: 150px;
            width: auto;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 65px !important;
    }



    .special-offers__text {
        padding: 28px 0 46px;
        height: 146px;
        max-height: unset;

    }

    .swiper-wrapper {
        padding: 10px 10px;
    }

    .special-offers {
        padding-bottom: 0;

        .container {
            background-color: #f8f8f8;
            padding-top: 40px;
            padding-bottom: 58px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                left: -50%;
                background-color: #f8f8f8;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                right: -50%;
                background-color: #f8f8f8;
            }

            .swiper-pagination_2 {
                top: 57px;
                margin-bottom: 1rem;
            }

        }
    }

    .border {
        width: 200vw;
        height: 3px;
        border: solid 1px #eeeeee;
        flex-shrink: 0;
        margin-left: -300px;
        margin: 72px 0 63px;
    }

    .form__payment {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        padding-bottom: 80px;
        max-width: 100%;

        label {
            color: #333333;
            font-family: Arial;
            font-size: 14px;
            line-height: 32px;
            flex-basis: 200px;

            .sof-req {
                color: #394791;
            }
        }

        .copyright {
            color: #999999;
            font-family: Arial;
            font-size: 14px;
            line-height: 20px;
            padding: 8px 0;

        }
    }

    .form__title {

        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        width: 100%;
        margin-bottom: 40px;
        position: relative;
    }

    .delivery_terms {
        background: url("../images/delivery__picture.png") 0 /15px no-repeat;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.29;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        padding-left: 30px;
        margin-left: 65px;
    }

    .form__row {
        width: 100%;
        display: flex;
        padding: 12px 0;
        align-items: center;

        label {
            width: unset;
        }

        input,
        select {
            height: 46px;
            max-width: 372px;
            width: 100%;
        }

        textarea {
            max-width: 450px;
            width: 100%;
        }

        input,
        textarea,
        select {
            border-radius: 2px;
            border: 1px solid #cbcbcb;
            background-color: #ffffff;
            resize: none;
            padding-left: 15px;
        }
    }

    .item__title {
        display: none;
    }

    .form__button {
        width: 100%;
        padding-left: 200px;
        display: flex;
        flex-direction: column;
        margin-bottom: calc(3rem - 8px);

        label {
            flex-basis: 0;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            // color: #394791;
            margin: 31px 0 41px;

            a {
                color: #394791;
            }
        }

        input {
            width: 172px;
            height: 40px;
            border-radius: 3px;
            background-color: #394791;
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
        }


    }

    @media screen and (max-width: 768px) {
        .table {

            &__items {
                max-height: 130px;
            }

            .title__span,
            .table__item {
                &.price {
                    padding-left: 15px;
                }

                &.delete {
                    width: 10px;
                }
            }

            .title__span {
                &.name {
                    width: 33%;
                }
            }

            &__title {
                padding-left: 0;
            }

            &__item {
                padding-top: 33px;
                padding-bottom: 25px;

                &.name {
                    width: calc(46%-24px);
                }

                strong {
                    font-size: 16px !important;

                }
            }

            &__link {
                width: 85px;
                height: 85px;

                img {
                    flex-shrink: 0;
                }

            }

            .special-offers__text {
                color: #333333;
                font-family: "Roboto Condensed";
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }


            .how-many {
                white-space: nowrap;

                .decr,
                .incr {
                    color: #999999;
                    font-family: Arial;
                    font-size: 18px;
                    font-weight: 700;
                    position: absolute;
                }
            }

            .delete__table {
                width: 10px;
            }

            &__link {

                img {
                    width: 37px;
                    height: 69px;
                }
            }
        }

        .swiper-container {
            padding-bottom: 72px !important;
        }

        .border {
            margin: 0 0 63px !important;
        }

        .form__payment {
            label {
                flex: 0 0 200px;
            }
        }

        .form__button {
            label {
                flex-basis: unset;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .table {

            &__item {

                &.name {
                    width: calc(33%-24px);
                }
            }

            .special-offers__text {
                color: #333333;
                font-family: "Roboto Condensed";
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }


    }

    @media screen and (max-width: 480px) {
        &__title {
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #262626;
        }


        .table {
            &__title {
                display: none;
            }

            &__items {
                border-top: 1px solid #eee;
                flex-wrap: wrap;
                max-height: 280px;
                padding: 16px 16px 43px;
            }

            .name {
                width: 100%;
            }

            &__item {
                flex-basis: unset;
                width: 100% !important;
                padding: 0 0 17px 0 !important;


                &.price {
                    padding-left: 0 !important;
                }

                .decr,
                .incr {
                    position: unset !important;
                    z-index: 99;
                    margin: 0 !important;

                }

                .decr {
                    border: 1px solid #eee;
                    border-right: 0;
                    padding-left: 1rem
                }

                .incr {
                    border: 1px solid #eee;
                    border-left: 0;
                    padding-right: 1rem;
                }


            }

            .special-offers__text,
            .strong__price {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #333333;
            }

            .item__title {
                display: flex;
                color: #999999;
                font-family: Arial;
                font-size: 12px;
                font-weight: 700;
                flex: 0 1 50%;
            }

            .qt_num {
                border-right: 0 !important;
                border-left: 0 !important;
                padding: 0 !important;
                width: 50px !important;
            }

            .delete__table {
                height: 24px;
                top: unset;
                bottom: 16px;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: center;
                color: #b0b0b0;
                width: unset;
                padding-right: 25px;
                display: flex;
                right: 16px;
                background: url("../images/order__pic.png") right no-repeat;
                margin-left: auto;

                &:hover {
                    background: url("../images/order__color.png") right no-repeat;
                }
            }

            &__total {
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #333333;
                padding-left: 0;
                justify-content: unset;

                strong {
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: right;
                    color: #333333;
                }
            }
        }

        .special-offers__title {
            width: unset;
            margin: 0 0 40px;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #262626;
            margin: 0 auto 1rem;
        }

        .special-offers__buy {
            margin-left: 10px;
        }

        .special-offers__sale {
            flex-wrap: nowrap;
        }

        .swiper-slide {
            margin-left: -1%;

        }

        .form__button {
            padding-left: 0;

            label {
                width: calc(100%-24px);
                margin-left: 24px;
            }

            input {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }

        .form__row {
            flex-wrap: wrap;

            input,
            select {
                max-width: unset;
            }

            label {

                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.29;
                letter-spacing: normal;
                text-align: left;
                color: #333333;
            }
        }
    }
}