.return-exchange {

  // &__title {}

  // &__items {}

  // &__item {}
  &__background {
    padding: 24px;
    background-color: #f8f8f8;
  }

  &__link {
    color: #394791;
    font-family: Arial;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 30px;
  }

  &__form {
    margin-top: 38px;
    margin-right: auto;
  }

  &__name {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
       color: #333333;
    width: 185px;
    flex-shrink: 0;
  }

  &__field {
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
  }

  &__input {
    height: 46px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #cbcbcb;
    max-width: 372px;
    flex-grow: 1;
  }

  &__textarea {
    height: 124px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #cbcbcb;
    resize: none;
    flex-grow: 1;
  }

  &__required {
    color: #394791;
  }

  &__copyright {
    width: 100%;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;

    a {
      color: #394791;
    }

    i {
      font-style: normal;
      font-weight: 500;
      color: #ff4b4b;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &__attachment {
    padding-left: 185px;

    label {
      flex-grow: 1;

      &.return-exchange__label {
        margin-left: 25px;
      }
    }

    a {
      color: #394791;
    }
  }

  &__file {
    border-radius: 2px;
    border: solid 1px #394791;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #394791;
    text-transform: uppercase;
    appearance: none;
    position: relative;
    overflow: hidden;
    width: 177px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  &__file>button {
    float: right;
    width: 8em;
    /* example */
    height: 100%
  }

  &__file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
  }



  @media screen and (max-width: 480px) {
    &__attachment {
      padding-left: 0;

      label {
        margin-left: 15px;
      }

      .abuse-popup__submit {
        width: 100%;
      }
    }

    &__file {
      margin-left: 0 !important;
      flex-grow: 0 !important;
    }

    &__attachment__container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__background {
      padding: 6px;
    }
  }
}