<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
						</span>
						<span class="span span__small">
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
						</span>
						<span class="span span__small">
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
						</span>
						<span class="span span__small">
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
						</span>
						<span class="span span__small">
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items">
		<div class="gallery__item">
			<img src="{{src}}02.png" alt="">
			<div class="gallery__info-ball  gallery__info-ball_1">
				<span class="info-ball__text">
					Амортизирующий доводчик двери SoftSystem.
				</span>
			</div>
			<div class="gallery__info-ball gallery__info-ball_2">
				<span class="info-ball__text">
					BioFresh - это специальная регулирующаяся зона в холодильной камере, в которой поддерживается определенный
					микроклимат. Зона свежести BioFresh состоит из двух контейнеров - DrySafe с низкой влажностью для хранения
					молочных продуктов, морепродуктов и мяса и HydroSafe для хранения фруктов и овощей. При хранении в отделении
					BioFresh, скоропортящиеся продукты в значительной степени сохраняют вкусовые качества, свежесть и питательность.
				</span>
			</div>
			<div class="gallery__info-ball gallery__info-ball_3">
				<span class="info-ball__text">
					NoFrost - благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного
					воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить
					образование инея на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.
				</span>
			</div>
			<div class="gallery__info-ball gallery__info-ball_4">
				<span class="info-ball__text">
					IceMaker - инновационное решение для производства кубиков льда даже при отсутствии стационарной подачи или
					недостаточно высоком качестве питьевой воды. Для наполнения водой резервуар легко извлекается из холодильника.
				</span>
			</div>
		</div>
		<div class="gallery__el">
			<a class="gallery__link" href="">
				<img src="{{src}}gallery-link_1.png" alt="">
				<span class="gallery__article">Официальная гарантия</span>
				<span class="gallery__text">Гарантийный сервис Liebherr</span>
			</a>
		</div>
		<div class="gallery__el">
			<a class="gallery__link" href="">
				<img src="{{src}}gallery-link_2.png" alt="">
				<span class="gallery__article">Сервис и обслуживание</span>
				<span class="gallery__text">Об установке и подклчении</span>
			</a>
		</div>
		<div class="gallery__el">
			<a class="gallery__link" href="">
				<img src="{{src}}gallery-link_3.png" alt="">
				<span class="gallery__article">Глоссарий</span>
				<span class="gallery__text">Технологии компании Liebherr</span>
			</a>
		</div>
	</div>
</div>