.gallery {
	max-width: 1436px;
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	position: relative;
	background-color: #f1f1f1;

	img {
		width: auto;
		height: 100%;
		max-width: 100%;
	}

	.swiper-container-main {
		position: relative;
		overflow: hidden;
	}

	&__items {
		display: flex;
		max-width: 1240px;
		align-items: flex-start;
		margin-left: auto;
		margin-right: auto;
		padding: 2rem;
	}

	&__item {
		width: 319px;
		height: 642px;
		flex-shrink: 0;
		margin-top: -320px;
		z-index: 89;
		margin-left: -25px;
		margin-bottom: -95px;
		position: relative;
		display: flex;
		background: url('../images/01.png') no-repeat;

		.button__open {
			width: 34px;
			height: 34px;
			border-radius: 3px;
			background-color: #394791;
			color: #ffffff;
			background: url("../images/holod-button.png") no-repeat;
			position: absolute;
			top: 5%;
			left: 5%;

			&.open {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}

		.button__half-open {
			border-radius: 3px;
			background-color: #394791;
			color: #ffffff;
			padding: 5px 7px 8px 10px;
			position: absolute;
			top: 50%;
			right: 0;
		}

		&.closed {
			.closed {
				display: block;
			}
		}

		&.closed.half-open {
			background: url('../images/02.png') no-repeat;

			.closed {
				display: none;
			}

			.half-open {
				display: block;
			}
		}

		&.closed.open {
			background: url('../images/03.png') no-repeat;



			.closed {
				display: none;
			}

			.button__half-open {
				display: none;
			}

			.half-open {
				display: block;
			}

			.open {
				display: block;
			}

			.gallery__info-ball {

				&_3 {
					top: 13px;
					left: 240px;
				}

				&_4 {
					top: 60px;
					left: 100px;
				}

				&_5 {
					display: none;
				}

				&_6 {
					top: 400px;
					left: 110px;
				}

				&_7 {
					top: 170px;
					left: 210px;
				}

				&_8 {
					bottom: 60px;
					left: 200px;
				}

				&_9 {
					top: 260px;
					left: 210px;
				}

			}

		}
	}

	&__tablet {
		display: flex;
		align-items: flex-start;
	}

	&__el {
		margin-left: 28px;
		display: flex;
		background-color: #ffffff;
		height: 230px;

		.gallery__parent {
			display: flex;
			flex-direction: column;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		width: 100%;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}

		&:hover {
			text-decoration: none !important;

			.gallery__article {
				color: #394791;
				text-decoration: underline;
			}
		}
	}

	&__article {
		font-size: 22px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: 1.27;
		letter-spacing: normal;
		color: #212121;
		padding: 10px 24px;
	}

	&__text {
		font-family: "Arial";
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.36;
		letter-spacing: normal;
		color: #666666;
		padding: 0 24px 10px;
		text-decoration: none !important;
	}

	&__info-ball {
		position: absolute;
		width: 22px;
		height: 22px;
		background: url("../images/point-small.png") 0/22px no-repeat;
		cursor: pointer;
		display: none;

		.info-ball__text {
			display: none;
			position: absolute;
			width: 500px;
			left: 40px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 2px;
			box-shadow: 0 2px 12px 0 rgba(82, 64, 64, 0.17);
			background-color: #ffffff;
			padding: 8px 11px;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: condensed;
			line-height: normal;
			letter-spacing: normal;
			color: #212121;
			z-index: 99;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -10px;
				display: block;
				width: 0;
				height: 0;
				border-top: 12px solid transparent;
				border-right: 12px solid #ffffff;
				border-bottom: 12px solid transparent;
			}

		}



		&_1 {
			top: 115px;
			left: 185px;
		}

		&_2 {
			top: 380px;
			left: 95px;
		}

		&_3 {
			top: 13px;
			left: 170px;
		}

		&_4 {
			top: 60px;
			left: 100px;
		}

		&_5 {
			top: 260px;
			left: 180px;
		}

		&_6 {
			top: 400px;
			left: 110px;
		}

		&:hover {
			background: url("../images/point-big.png") 0/22px no-repeat;

			.info-ball__text {
				display: block;
			}
		}

	}
}

.swiper-scrollbar {
	display: none;
}

.swiper {
	&-slide {}



	&__item {
		position: absolute;
		align-items: flex-start;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-top: 63px;
		background: #0000006b
	}



	&__title {
		width: 600px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-left: 31%;
		margin-top: 3rem;

		.span {

			&__small {
				font-size: 40px;
				font-weight: normal;
				font-style: normal;
				font-stretch: condensed;
				letter-spacing: normal;
				color: #ffffff;
				margin-bottom: 19px;
			}

			&__big {
				font-family: "Arial";
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #ffffff;
				margin-top: 10px;
			}
		}
	}

	&__box {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: -80px;
	}

	&__link {
		width: 100%;
		height: 44px;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		padding: 14px 34px;
		border-radius: 2px;
		border: solid 1px #ffffff;
		max-width: 172px;

		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none !important;
	}

	&-pagination-bullet {
		background: #d8d8d8 !important;
	}

	&-pagination-bullet-active {
		background: #394791 !important;
		box-sizing: border-box;
	}

	&-button-main {
		opacity: 0;
	}

}

@media screen and (max-width: 900px) {
	.gallery__item {
		width: 256px;
	}

	.swiper__item {
		justify-content: unset;
	}

	.swiper__title {
		margin-left: 300px;
	}
}


@media screen and (max-width: 768px) {
	.gallery {
		.swiper {
			&-slide {}

			&__item {
				padding-top: 57px;
				padding-right: 2rem;
			}

			&-pagination {
				text-align: end;
				padding-right: 7rem;
			}

			&__title {
				margin-left: 45%;
				width: 59%;

				.span {
					&__small {
						font-size: 40px;
						font-weight: 400;
						line-height: 28px;
					}

					&__big {
						font-family: Arial;
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
		}

		&__items {
			padding: 16px 24px;
		}

		&__item {
			&.closed.open {
				width: 319px;

				&+.gallery__tablet {
					padding-left: 1%;
				}


			}
		}

		&__article {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 20px;
			font-weight: 400;
			line-height: 28px;
		}


		&__tablet {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			padding-left: 10%;
		}

		&__el {
			height: unset;
			margin-left: unset;
			width: 100%;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__link {
			flex-direction: row;

			img {
				width: 145px;
				height: 100%;
			}
		}

	}



	.fixed {
		.header__icons {
			position: absolute;
			top: 18px;
			right: 25px;
		}
	}
}

@media screen and (max-width: 640px) {
	.gallery {

		&__item {
			display: none;
		}

		&__tablet {
			padding-right: 0;
			padding-left: 0;
		}

		.swiper__item {
			justify-content: center;
			padding-right: 0;
			padding-top: 0;
		}

		.swiper__title {
			margin-left: auto;
			margin-right: auto;
			justify-content: center;

			span {
				text-align: center;
			}
		}

		.swiper__title {
			.span {
				&__small {
					font-size: 33px;
				}

				&__big {
					font-size: 15px;
				}
			}

		}

		.swiper-pagination {
			bottom: 24px;
			text-align: center;
			padding-right: 0;
		}

	}
}

@media screen and (max-width: 480px) {
	.gallery {
		.swiper__item {
			padding: 0;
			align-items: center;
		}

		.gallery__el {
			height: 56px;

			img {
				width: 60px;
				height: 55px;
			}
		}

		.swiper-slide {
			img {
				height: 284px;
				max-width: unset;
			}
		}

		.swiper__title {
			margin: 0;
			width: 260px;

			.span {
				&__small {
					width: 288px;
					color: #ffffff;
					font-family: "Roboto Condensed";
					font-size: 30px;
					font-weight: 400;
					line-height: 34px;
					margin-bottom: 0;
				}

				&__big {
					font-family: Arial;
					font-size: 14px;
					line-height: 20px;
				}
			}

		}

		.swiper__link {
			max-width: 240px;
		}


		&__article {
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			padding: 0 13px;
		}



		&__items {
			padding: 1rem;
		}

		&__text {
			font-family: Arial;
			font-size: 14px;
			line-height: 19px;
			padding: 0 13px;
		}
	}
}