<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
					<br>
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
							<br>
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
							<br>
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src='{{src}}main.jpg' alt="">
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Техника Liebherr:
							<br>
							стиль и технологии
						</span>
						<span class="span span__big">
							Холодильная техника Liebher — это легендарное немецкое качество, современные технологии, комфорт использования и
							разнообразие модельного ряда.
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>

		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items ">
		<div class="gallery__item closed">
			<div class="gallery__info-ball closed  gallery__info-ball_1">
				<span class="info-ball__text">
					MagicEye - это абсолютно новый вариант панели управления холодильником, которая состоит из дисплея и клавиш
					управления. На дисплее отображается внутренний температурный режим каждой из камер холодильника. При желании можно
					изменить температуру камер, стоит только нажать нужные клавиши, и электроника сделает все за Вас.
				</span>
			</div>
			<div class="gallery__info-ball closed gallery__info-ball_2">
				<span class="info-ball__text">
					Door sliding - («скользящая дверь») - это система монтажа, при которой дверь холодильника с мебельной дверью
					соединена направляющими. При установке встраиваемых холодильников мебельная дверь крепится непосредственно к
					мебельной нише. При открывании или закрывании дверь ниши плавно двигается по направляющим.
				</span>
			</div>
			<div class="gallery__info-ball half-open gallery__info-ball_3">
				<span class="info-ball__text">
					Амортизирующий доводчик двери SoftSystem.
				</span>
			</div>
			<div class="gallery__info-ball half-open gallery__info-ball_4">
				<span class="info-ball__text">
					HolidayMode - выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае
					длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от
					образования посторонних запахов в пустой камере.
				</span>
			</div>
			<div class="gallery__info-ball half-open gallery__info-ball_5">
				<span class="info-ball__text">
					FrostControl - эта функция нужна для того, чтобы продукты, хранимые в холодильнике, были безопасными и не
					портились. Особенно это становится важным, когда происходит длительное отключение электропитания холодильника. При
					этом холодильник «запоминает» температурный режим, который был в камере на момент отключения и при повторном
					включении электричества воспроизводит ее заново. Для удобства пользователей в этой системе есть специальный
					дисплей с индикацией «nA». После нажатия кнопки «Alarm», в течение примерно одной минуты можно будет увидеть
					максимальное значение температурного режима в камере. Такая функция позволяет решить: стоит ли охлаждать или
					замораживать продукты заново или лучше уже сегодня подать на стол.
				</span>
			</div>
			<div class="gallery__info-ball half-open gallery__info-ball_6">
				<span class="info-ball__text">
					Календарь хранения замороженных продуктов - на подобных календарях можно записать вид хранимого продукта и срок
					его хранения. Эти карточки со списком замороженных продуктов крепятся на стенках или дверках секционных отделений
					морозильной камеры. На холодильниках класса Premium с электронным дисплеем используются электронные календари, на
					которых отображаются сведения о месте нахождения продукта, времени, когда он был куплен, а также об очередности
					потребления хранящихся в камере продуктов. Микропроцессор подает предупредительный сигнал, когда срок хранения
					истекает.
				</span>
			</div>
			<div class="gallery__info-ball open gallery__info-ball_7">
				<span class="info-ball__text">
					Clip-система - это маленькие карточки, которые крепятся съемными Clip-держатели на полках винного шкафа, со
					сведениями о хранящихся винах.
				</span>
			</div>
			<div class="gallery__info-ball open gallery__info-ball_8">
				<span class="info-ball__text">
					BiofreshPlus - обеспечивает еще большую функциональность и позволяет рационально использовать внутреннее
					пространство холодильника в зависимости от Ваших потребностей. Электронная система управления встроена в пластину,
					расположенную между холодильной и морозильной камерами. С ее помощью, например, можно установить значение
					температуры в верхнем контейнере 2°С, создав тем самым оптимальные условия для хранения рыбы. Одновременная
					установка низкого уровня влажности позволит сохранить рыбу свежей на максимально длительный срок, в то время как
					установка в другом контейнере высокого уровня влажности при температуре +6°С создаст оптимальные условия для
					хранения овощей и фруктов. Использование современных технологий позволяет устанавливать в верхнем контейнере
					секции BioFresh любое необходимое значение температуры. Для нижнего контейнера можно установить любой уровень
					влажности при сохранении уровня температуры около 0°С.
				</span>
			</div>
			<div class="gallery__info-ball open gallery__info-ball_9">
				<span class="info-ball__text">
					BiofreshPlus - обеспечивает еще большую функциональность и позволяет рационально использовать внутреннее

				</span>
			</div>
			<span class="button__open"></span>
			<span class="button__half-open">Открыть</span>
		</div>
		<div class="gallery__tablet">
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_1.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Официальная гарантия</span>
						<span class="gallery__text">Гарантийный сервис Liebherr</span>
					</div>
				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_2.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Сервис и обслуживание</span>
						<span class="gallery__text">Об установке и подклчении</span>
					</div>

				</a>
			</div>
			<div class="gallery__el">
				<a class="gallery__link" href="">
					<img src="{{src}}gallery-link_3.png" alt="">
					<div class="gallery__parent">
						<span class="gallery__article">Глоссарий</span>
						<span class="gallery__text">Технологии компании Liebherr</span>
					</div>

				</a>
			</div>
		</div>

	</div>
</div>