.logo {
	margin: auto 0;

	&__link {
		text-decoration: none;
		display: block;
		min-width: 164px;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	@media screen and (max-width: 768px) {
		position: unset;
		order: -1;
	}

	@media screen and (max-width: 480px) {
		width: 118px;
	}
}