.catalog {
  width: calc((100% / 12) * 9) !important;
  margin-left: auto;
  padding: 0 !important;
  margin: 0 !important;

  * {
    transition: 0.4s;
  }

  &__sorting {
    display: flex;
    margin-bottom: 31px;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__sale {
    margin-top: unset !important;
    margin-bottom: 10px;
  }

  &__text {
    padding-bottom: 10px !important;
    height: 15%;
    min-height: 80px;
  }

  &__prop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 0 12px;
    margin-bottom: auto;
    margin-top: 4%;

    .icons-prop-item {
      width: 34px;
      height: 34px;
      margin: 0 4px 4px 0;
      background: url('../images/icons-properties.jpg?v1') no-repeat 0 0;

      &.PROPERTY_FILT_BIOFRESH_VALUE {
        background-position: 0 0
      }

      &.PROPERTY_FILT_ICEGEN_VALUE {
        background-position: -36px 0
      }

      &.PROPERTY_HOMEDIALOGSYSTEM_VALUE {
        background-position: -72px 0
      }

      &.PROPERTY_FILT_NOFROST_VALUE {
        background-position: -108px 0
      }

      &.PROPERTY_FILT_SOFTSYSTEM_VALUE {
        background-position: -144px -36px
      }

      &.PROPERTY_SMARTFROSTSYSTEM_VALUE {
        background-position: 0 -72px
      }

      &.PROPERTY_ENERGYCLASS_VALUE_AP {
        background-position: -108px -36px
      }

      &.PROPERTY_ENERGYCLASS_VALUE_APP {
        background-position: -108px -72px
      }

      &.PROPERTY_HOMEDIALOGREADY_VALUE {
        background-position: -144px 0
      }

      &.PROPERTY_WINE_VALUE {
        background-position: -180px 0
      }

      &.PROPERTY_ICECENTER_VALUE {
        background-position: 0 -36px
      }

      &.PROPERTY_PREMIUMPLUS_VALUE {
        background-position: -72px -36px
      }

      &.PROPERTY_BIOFRESHPLUS_VALUE {
        background-position: -180px -36px
      }

      &.PROPERTY_SMARTSTEEL_VALUE {
        background-position: -36px -72px
      }

      &.PROPERTY_SUPERECONOMICAL_VALUE {
        background-position: -180px -72px
      }

      &.PROPERTY_CIGAR_VALUE {
        background-position: -36px -36px
      }

      &.PROPERTY_AWORDS_VALUE_RD {
        background-position: -72px -72px
      }

      &.PROPERTY_AWORDS_VALUE_XP {
        background-position: -144px -72px
      }

      &.PROPERTY_SERIES_BLUPERFOMANCE_VALUE {
        background-position: 0 -108px
      }

      &.PROPERTY_PODOGREV_50608_VALUE {
        background-position: -109px -109px
      }

      &.PROPERTY_PODOGREV_50609_VALUE {
        background-position: -145px -109px
      }

      &.PROPERTY_ENERGYCLASS_VALUE_APPP {
        background: url('../images/icons-properties-appp.png') no-repeat 0 0
      }
    }
  }

  .sorting__info {
    display: flex;
  }

  .sorting__number {

    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    display: flex;
    align-items: center;

    &:first-child {
      padding-right: 5px;
    }
  }

  &__ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    align-items: center;
    padding: 0;

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
  }

  &__li {
    margin-right: 27px;
    display: flex;
    height: 28px;
    position: relative;

    &:hover {
      .catalog__sort {

        background-color: #394791;

        span {
          color: #ffffff;
        }
      }

    }

    &:after {
      background: url('data:image/svg+xml; charset=utf-8;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iI2IwYjBiMCI+PHBhdGggZD0iTTEzOTUgNzM2cTAgMTMtMTAgMjNsLTQ2NiA0NjZxLTEwIDEwLTIzIDEwdC0yMy0xMGwtNDY2LTQ2NnEtMTAtMTAtMTAtMjN0MTAtMjNsNTAtNTBxMTAtMTAgMjMtMTB0MjMgMTBsMzkzIDM5MyAzOTMtMzkzcTEwLTEwIDIzLTEwdDIzIDEwbDUwIDUwcTEwIDEwIDEwIDIzeiIvPjwvc3ZnPg==') no-repeat center center;
      width: 20px;
      height: 20px;
      content: '';
      position: absolute;
      right: 0;
      top: 16px;
      display: block;
      margin-top: -12px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      -webkit-transition: -webkit-transform 500ms;
      transition: -webkit-transform 500ms;
      transition: transform 500ms;
      transition: transform 500ms, -webkit-transform 500ms;

    }

    &.active:after {

      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);

    }

    &:first-child {
      margin-left: 19px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__sort {
    padding: 4px 28px 4px 8px;
    font-weight: normal;
    color: #394791;
    border-radius: 2px;
    background-color: #f1f1f1;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__item {
    width: calc(((100% / 12) * 4)-1rem);
    margin-right: 1rem;
    margin-bottom: 12px;
    padding: 20px;
    position: relative;
    border: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(33.33333% - 1rem);
    min-width: 250px;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 0 2px 21px rgba(0, 0, 0, 0.1);
    }

    .announcing {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 12px;
      left: 12px;
      background-size: cover;
      background-position: -4px 0;

      &_2 {
        top: 37px;
      }

      &_3 {
        top: 62px;
      }

      &_4 {
        top: 87px;
      }

      &_5 {
        top: 112px;
      }

      &__bulgaria {
        background: url("../images/bulgaria_square_icon_64.png") -5px/33px no-repeat;
      }

      &__germany {
        background: url("../images/germany_square_icon_64.png") -4px/31px no-repeat;
      }

      &__austria {
        background: url("../images/austria_square_icon_64.png") -5px/33px no-repeat;
      }

      &__new {
        background: url("../images/new.png") 1px/22px no-repeat;
      }

      &__hit {
        background: url("../images/hit.png") 1px/22px no-repeat;
      }

      &__sale {
        background: url("../images/sale.png") -1px/22px no-repeat;
      }

      &__service {
        background: url("../images/service.png") 1px/22px no-repeat;
      }

      &__delivery {
        background: url("../images/delivery.png") 1px/22px no-repeat;
      }
    }
  }

  &__pic {
    width: 100%;
    max-height: 250px;
    display: flex;
    height: 100%;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
      width: auto;
    }
  }

  &__specification {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 19%;
  }

  &__feature {
    display: flex;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__bold {
    min-width: 80px;
    text-align: right;
    font-family: Arial;
    font-weight: 700;
  }

  &__existence {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 20px;
  }

  &__presence {
    color: #6ba86e;
    font-family: Arial;
    font-size: 12px;
  }

  .grey {
    color: #666666;
  }

  &__simile,
  &__oneclick {
    color: #394791;
    font-family: Arial;
    font-size: 12px;
    border-bottom: 1px dashed #394791;
    text-decoration: none;
    line-height: normal;
    flex-shrink: 0;
    margin: 2px 0;

    &:hover {
      text-decoration: none;
    }
  }

  .stock {
    padding: 0;

    &__info {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 18px 24px;
      display: flex;
      flex-wrap: wrap;
      align-content: baseline;
      text-align: center;
      justify-content: center;
    }

    &__title {
      width: 100%;
      color: #f8f8f8;
      font-family: "Roboto Condensed";
      font-size: 154px;
      font-weight: 700;
      line-height: 1;
      margin-top: 127%;
      text-shadow: 1px 1px 2px black, 0 0 1em #394791;

      @media screen and (max-width: 1440px) {
        font-size: 11vw;
      }
    }

    &__text {
      color: #333333;
      font-family: "Roboto Condensed";
      font-size: 26px;
      font-weight: 400;
      line-height: 33px;
      text-align: center;

      span {
        color: #394791;
        font-family: "Roboto Condensed";
        font-weight: 700;
        text-transform: uppercase;
        display: block;
      }
    }

    &__link {
      color: #394791;
      font-family: "Roboto Condensed";
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      text-decoration: underline;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .tags {
    &__status {
      width: 100%;
      height: 48px;
      border: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__element {
      color: #394791;
      font-family: Arial;
      font-size: 12px;
      margin-right: 26px;
    }
  }

  .description {
    padding: 45px 0 37px;
    margin-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eeeeee;

    &__title {
      color: #262626;
      font-family: "Roboto Condensed";
      font-size: 26px;
      font-weight: 400;
      line-height: 24px;
      width: 100%;
    }

    &__text {
      margin-top: 27px;
      color: #262626;
      font-family: Arial;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .sidebar {
    display: none;
  }

  .price__dashed {
    position: relative;

    .catalog__price {
      color: #d82300;
    }

    .price__absolute {
      position: absolute;
      left: 0;
      color: #999999;
      font-family: "Roboto Condensed";
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: line-through;
      left: 0;
      top: -15px;
    }
  }

  .load-more {
    height: 26px;
    color: #394791;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px dashed #394791;
    margin: 0 auto;
    white-space: nowrap;
    min-width: 100px;
    text-align: center;
    margin-bottom: 2rem;
    text-decoration: none !important;
  }

  @media screen and (max-width: 768px) {
    width: 100% !important;
    padding-top: 0;

    .catalog {
      &__sorting {
        flex-grow: 1;
      }

      &__text {
        color: #333333;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      &__item {
        width: calc(((100% / 12) * 4)-1rem);
        margin-right: 1rem;
        padding: 16px 16px 20px;
        flex: 1 0 calc(33% - 1rem);
        min-width: 200px;


        .stock__text {
          color: #333333;
          font-family: "Roboto Condensed";
          font-size: 22px;
          font-weight: 400;
        }

        .stock__title {
          font-size: 15vw;
        }

        .stock__link {}

        &.stock {
          padding: 0;
        }

        .catalog__bold {
          min-width: unset;
          margin-left: 5px;
        }

        .catalog__feature {
          justify-content: unset;
        }
      }
    }

    .sidebar {
      display: flex;
      align-content: baseline;
      align-items: stretch;

      .work-link,
      .yandex,
      .quality {
        width: calc(((100% / 12) * 4)-24px);
        margin-bottom: 0;
        height: auto;
      }

      .work-link,
      .yandex {
        margin-right: 24px;
      }


      .work-link {
        padding: 5px;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
      }

      .yandex {
        padding: 17px 25px;

        &__link_form {
          margin-top: auto;
        }
      }
    }

    .sorting__info {
      margin-left: auto;
    }
  }

  @media screen and (max-width: 550px) {
    .catalog {
      &__item {
        width: calc(((100% / 12) * 6)-24px);
        flex: 1 0 calc(50% - 1rem);
      }
    }

    .sorting__info {
      display: none;
    }

    .catalog__ul {
      flex-wrap: wrap;

    }



    .stock,
    .stock__info {
      padding: 0;
    }

    .sidebar {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;

      .work-link,
      .yandex,
      .quality {
        max-width: 300px;
        flex-basis: 288px;
        width: unset;
        max-height: 205px;
        margin: 0 auto;
        height: unset;
        margin-bottom: 16px;
      }


    }
  }

  @media screen and (max-width: 480px) {
    .catalog {
      &__item {
        width: 100%;
        margin: 0;
        flex: 1 0 100%;
      }

      &__text {
        height: unset;
        padding: 0;
      }

      &__ul {
        width: 100%;
        display: grid;
        justify-content: flex-start;
      }

      &__li {
        margin-top: 15px;
        grid-area: 2;
        margin-left: 0;
        margin-right: 10px;

        .catalog__sort {
          padding: 4px 8px;
        }

        &::after {
          display: none;
        }

      }
    }

    .stock {
      display: none;
    }

    .special-offers__buy {
      text-transform: uppercase;
    }

    .stock__info {
      padding: 20px;
    }

    .description__title,
    .reviews__title {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
    }

    &__pic {
      max-height: 250px;

    }
  }

  @media screen and (max-width: 380px) {
    .catalog {
      &__li {}
    }

    .stock {
      display: none;
    }

    .special-offers__buy {
      text-transform: uppercase;
    }

    .stock__info {
      padding: 20px;
    }

    .description__title,
    .reviews__title {
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
    }

    &__pic {
      max-height: 250px;

    }
  }


}